/* CSS Stylesheet for index.html */

@font-face {
  font-family: 'lobsterregular';
  src: url('fonts/lobster-regular-webfont.woff2') format('woff2'),
       url('fonts/lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* for mobile */
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

/* submit button changes color on submit */
button:active {
  background-color: turquoise;
}

/* contains all the entries in a flex box */
#entries {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#content {
  display: grid;
  grid-template-areas:
    'menu main main main main main'
    'menu main main main main main';
  grid-template-columns: 30%;
  /* grid-area property used in other sections */
}

/* navigation bar placement */
.navbar {
  position: relative;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  margin-right: 10em;
  margin-left: 10em;
  padding-top: 20px;
  border-style: dotted;
  border-color: teal;
  border-width: 4px;
  border-radius: 40px;
}

/* individual entry containers */
.entrybox {
  position: static;
  max-width: 30%;
  margin: 1.5em 2em 1.5em 2em;
  border-style: double;
  border-color: teal;
  padding: 0em 2em 2em 2em;
  border-width: 3px;
}

/* create entry container */
#create {
  grid-area: menu;
  width: 30%;
  margin: 0em 2em;
}